[Desktop Entry]
Name=nfc-demo-rw
Comment=NFC Demo
Exec=nfc-demo
Icon=assets/nfc-demo.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Keywords=nfc;tag;
